.modal
	display none
	width 100%
	max-width 500px
	padding 40px 20px
	background-color blue-light
	border-radius 10px
	
	&__header
		padding-bottom 35px
	
	&__title
		font-family font-second
		font-size 3rem
		line-height 1em
		text-align center
	
	&__body
		display flex
		flex-direction column
		align-items center
		
	.input 
		width 100%
		max-width 300px
		text-align center
		
	&__btn
		margin-top 25px
		background violet-light
		color white
		
		&:hover
			color violet-dark
			
			&::before
				background white