.plus
	padding-top 42px
	padding-bottom 48px
	background url('../img/plus-bg.png') no-repeat center/cover

	&__list
		display flex
		flex-wrap wrap
		align-items flex-start
		
	&__item
		width 25%
		

	+width-lg()
		
		&__item
			padding-right 5px
		

	+width-md()
		padding-bottom 8px
		
		&__item
			width 50%
			padding-bottom 40px
			

	+width-sm()
		background-image url('../img/plus-bg--small.png')
		
		&__item
			width 100%
	