.catalog
	padding-top 43px
	padding-bottom 36px
	
	&__list
		display flex
		flex-wrap wrap
		align-items flex-start
		
	&__item
		width 33%
		margin-left -1px
		margin-bottom -1px
			

	+width-md()
		&__item
			width 50%


	+width-sm()
	
		&__list
			flex-direction column
			align-items center
		
		&__item
			width auto
			
			&:not(:nth-child(-n + 3))
				display none

	