.catalog
	padding-top 43px
	padding-bottom 36px
	
	&__list
		display flex
		flex-wrap wrap
		align-items flex-start
		
	&__item
		width 33%
			

	+width-md()
		&__item
			width 50%


	+width-sm()
		&__item
			width 100%

	