.catalog
	padding-top 43px
	padding-bottom 36px
	
	&__list
		display flex
		flex-wrap wrap
		align-items flex-start
		margin-bottom 40px
		
	&__item
		width 33%
		margin-left -1px
		margin-bottom -1px
		
	&__more
		text-align center
		trs()
		
		&:hover
			cursor pointer
			opacity .6
		
		&-text
			display inline-block
			padding-bottom 3px
			margin-right 8px
			border-bottom 1px dashed rgba(40, 38, 49, 0.36)
			font 400 2.4rem/1 font-second
			
		&-icon
			display inline-block
			width 20px
			height 20px
			fill violet-light
			transform rotate(-90deg)
		
			

	+width-md()
		&__item
			width 50%


	+width-sm()
	
		&__list
			flex-direction column
			align-items center
		
		&__item
			width auto
			
			&:not(:nth-child(-n + 3))
				display none

	