.swiper-scrollbar
	bottom 11px !important
	height 1px !important
	background-color #cfcfcf
	z-index 2 !important
	
	&-drag
		top -12px
		width 50px !important
		height 25px
		border-radius 13px
		background #895ea6 url('../img/icon-drag.png') no-repeat center

	
	+width-sm()
		display none