.statistics

	&__title,
	&__value
		font-family font-second
		font-weight 400

	&__title
		font-size 3.6rem

	&__value
		margin-top -10px
		margin-bottom 19px
		font-size 8.5rem
		line-height 1

	&__descr
		font-size 1.5rem
		line-height 1.1em