// Глобальные файлы стилей
@import 'variables.styl'
@import 'mixins.styl'
@import 'fonts.styl'
@import 'base.styl'
@import 'grid.styl'

// Стилевые файлы БЭМ-блоков

@import '../blocks/patterns-page/patterns-page.styl'
@import '../blocks/pattern/pattern.styl'
@import '../blocks/headline/headline.styl'
@import '../blocks/footer/footer.styl'
@import '../blocks/btn/btn.styl'
@import '../blocks/card-sale/card-sale.styl'
@import '../blocks/card-product/card-product.styl'
@import '../blocks/card-plus/card-plus.styl'
@import '../blocks/card-recall/card-recall.styl'
@import '../blocks/accordion/accordion.styl'
@import '../blocks/about/about.styl'
@import '../blocks/statistics/statistics.styl'
@import '../blocks/card-contacts/card-contacts.styl'
@import '../blocks/delivery/delivery.styl'