// Глобальные файлы стилей
@import 'variables.styl'
@import 'mixins.styl'
@import 'fonts.styl'
@import 'base.styl'
@import 'grid.styl'

// Стилевые файлы БЭМ-блоков

@import '../blocks/patterns-page/patterns-page.styl'
@import '../blocks/pattern/pattern.styl'
@import '../blocks/headline/headline.styl'
@import '../blocks/footer/footer.styl'
@import '../blocks/btn/btn.styl'
@import '../blocks/card-sale/card-sale.styl'
@import '../blocks/card-product/card-product.styl'