// COLOR VARIABLES
violet-dark 	= #282631
violet 				= #662e8b
violet-light 	= #bd9bd3
blue-light 		= #f4f4f4
green 				= #418400
grey 					= #999

// FONTS VARIABLES
font-main   	= 'Open Sans', sans-serif
font-second  	= 'Playfair Display', serif
font-decor  	= 'Pacifico', cursive

// MEDIA QUERY VARIABLES
width-lg 			= 1200px
width-md 			= 992px
width-sm 			= 768px
width-xs 			= 540px







