.pattern 
	padding-bottom 50px

	&:not(:first-child) .pattern__header 
		padding-top 50px

	&__header 
		margin-bottom 50px
	
	&__title 
		padding-bottom 5px
		display inline-block
		font-family font-second
		font-size 2rem
		text-transform uppercase
		letter-spacing 1px
		border-bottom 2px solid grey
	
