.header
	padding-top 35px
	padding-bottom 15px
	background-color violet-dark
	
	.grid
		display flex
		flex-wrap wrap
		align-items flex-start

	&__info

	&--location

	&-icon

	&-box

	&-title

	&-descr

	&__social

	&-item

	&__logo

	&__info

	&-icon

	&-box

	&-title

	&-descr

	&__phone

	&-item

	&__nav

	&-list

	&-item
		
		a
			
	.btn
		// 
	