.footer
	padding-top 18px
	padding-bottom 15px
	color grey
	background-color #292929
	
	.grid
		display flex
		justify-content space-between
		align-items flex-start
	
	&__confidentiality,
	&__author a 
		letter-spacing .16px
		trs()
		
		&:hover
			color white
			
	&__author a 
		font-weight 600
		

	+width-xs()
		&__confidentiality
			font-size 1.2rem
		