.reviews
	padding-top 41px
	background-color blue-light
	
	.grid
		overflow hidden
	
	&__slider
		padding-bottom 51px
		border-bottom 1px solid #e8e8e8
		
		.swiper-slide-active
			background-color white
		