.reviews
	padding-top 41px
	background-color blue-light
	
	.grid
		overflow hidden
	
	&__slider
		padding-top 12px
		padding-bottom 51px
		border-bottom 1px solid #e8e8e8
		
		.card-recall
			background-color blue-light
		
		.swiper-slide-active .card-recall
			background-color white
			border-color transparent
			
			&::before
				border-color transparent
				background-color white
				
			&::after 
				display none
				

	+width-sm()
	
		&__slider
			padding-top 35px
		