.accordion
	padding 0 25px
	background-color white

	&__item
		
		&:not(:last-child)
			border-bottom 1px solid #e8e8e8

		&:last-child .accordion__body
			display block

	&__header
		display flex
		justify-content space-between
		align-items flex-start
		padding-top 28px
		padding-bottom 20px
		trs()

		&:hover
			cursor pointer
			opacity .6

	&__title
		width calc(100% - 30px)
		font-size 2rem
		font-weight 600
		line-height 2.2rem

	&__icon
		width 23px
		height 13px
		fill #9e9da2
		transform rotate(-90deg)
		trs()

		&--open
			transform rotate(90deg)

	&__body
		display none
		padding-left 45px
		padding-bottom 21px

		
		p 
			line-height 2.2rem
			

	+width-sm()
		padding 0 20px
		
		&__title
			font-size 1.8rem
			
		&__body
			padding-left 20px
