.patterns-page
	display block
	
	&__header
		display flex
		justify-content space-between
		align-items center
		height 300px
		background-color #282631
		color white
		
		&__info
			
		
		&-title
			margin-bottom 10px
			font-size 2rem
			
		&-descr
			// 
				
	// Section with icons for presentation
		
	&__icons
		
		&-item 
			display inline-block
			margin-bottom 15px
			text-align center
			
			&:not(:last-child)
				margin-right 20px
				
			svg
				width 35px
				height 35px
				margin-bottom 10px
				
	// Header for presentation
	.header 
		position static
		
			